<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.ohuang.filemanager.FileListActivity"></activity>
        <provider
            android:name="com.ohuang.filemanager.FileManagerContentProvider"
            android:authorities="${applicationId}.FileManagerContentProvider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/talki_files_paths" />
        </provider>
    </application>
</manifest>